body, p, h1, h2, h3, h4, h5, h6, ul, li{
	margin: 0;
	padding: 0;
	line-height: 18px;
}

h2, h3, h4, h5, h6{
	margin-bottom: 18px;
}

#page{
	width: 64em;
	margin: auto;
}

#header{
	height: 6em;
	background-color: #f9f9b0;
}

#header img{
	float: left;
	width: 72px;
	height: 72px;
	margin-left: 1em;
	margin-top: 1em;
}
#header #title{
	float: left;
	width: 288px;
	margin-left: 10%;
	line-height: 72px;
	margin-top: 18px;
	font-family: "Courier New", Courier;
	font-size: 2.4em;
	color: #6d6d03;
}

