body, p, h1, h2, h3, h4, h5, h6, ul, li, a{
	margin: 0;
	padding: 0;
	line-height: 18px;
	list-style: none;
	text-decoration: none;
	font-family: 'Microsoft YaHei', Verdana;
	/*normal 14px/1.6 "Helvetica neue", "Segoe UI", Arial, "Microsoft Jhenghei", "Microsoft Yahei", Sans-serif*/
}

#page{
	width: 60%;
	margin: 0.2% auto;
}

@media screen and (max-device-width: 1024px){
	#page{
		width: 90%;
		margin: 0.2% auto;
	}
}

@media screen and (max-device-width: 600px) {
	#page{
		width: 100%;
		margin: 0.2% auto;
	}
}

#header{
	position:relative;
	height: 6em;
	background-color: #B9F73E;
	/*z-index: 3;*/
}
/*显示月份和当前时间*/
#displaymonth{
	float: left;	
	width: 40%;
}

#display{
	display: block;
	float: left;
	width: 100%;
	list-style: none;
	padding: .3% 0;
}

/*显示当前月份*/
#monthnow{
	float: left;
	display: block;
	width: 70%;
	line-height: 80%;
	padding-left: 10%;
	font-weight: 900%;
	font-size: 400%;
}

/*显示当前时间*/
#timenowli{
	float: left;
	margin-top: 10%;
	display: block;
	font-size: 1.5em;
	font-weight: 200;
	width: 1.5em;
}


/*显示年、月、和返回今天，并可供选择*/
#selectmonth{
	float: left;
	width: 60%;
	/*height: 6em;*/
}

/*显示年、月和返回今天的列表*/
#selectdate{
	margin-left: 2%;
	display: block;
	margin-top: 7%;

}
#selectdate li.larrow{
	float: left;
	display: block;
	margin-left: 2%;
}

#selectdate li.today{
	float: left;
	display: block;
	width: 30%;
	text-align: center;
	font-size: 80%;
}

#selectdate li.select{
	float: left;
	width: 25%;
	height: 1.5em;
	display: block;
	text-align: center;
}

#selectdate li.arrow{
	float: left;
	display: block;
}

/*显示年份、月份*/
#yearlist, #monthlistul{
	display: none;
	margin-top: 0.2em;
}

#monthlistul li{
	display: block;
	margin-left: 0.5em;
}

.select a, .today a{
	color: #A7A7A7;
	font-weight: bold;
}
/*鼠标移动到年份或月份上时，改变颜色*/
.select a:hover, .today a:hover{
	color: #008500;
}

/*显示年份、月份的列表*/
.alistof{
	height: 18em;
	width: 5.1em;
	overflow: auto;
	z-index: 100;
}

ul li.select ul.alistof li{
	text-align: center;
	background-color: #C9F76F;
	width: 4em;
	height: 1.5em;
	float: none !important;
	margin: 0;
	box-shadow: none;
	border-bottom-right-radius: 0px; 
}

/*页中部分，显示日历的主体*/
/*显示星期*/
#middle{
	position:relative;
	z-index: 1;
}

#middle ul{
	margin: auto;
}

#middle .weektitle li, li li{
	display: block;
	float: left;
	width: 13.4%;
	height: 5%;
	margin: 0.2% 0 0 0.2%;
	box-shadow: 0 0 3px #008500;
	border-bottom-right-radius: 10px;
}

#middle .weektitle li{
	
	color: #008500;
	font-weight: bold;
	text-align: center;
	background-color: #67E667;
	border: .1em solid white;
}

#middle ul.calendar{
	/*width: 60%;*/
	color: #9FEE00;
	margin: 0 auto;
	display: block;
	min-height: 200px;
}

#middle li li{
	/*height: 6.5em;*/
	border: .1em solid #67E667;
}

#middle ul li ul li span{
	font-size: 1.2em;
	text-align: center;
	display: block;
	/*line-height: 4.8em;*/
	padding: .2em;
}

#middle #lastmonthul li{
	opacity: 0.4;
}

#middle #nextmonthul li{
	opacity: 0.4;
}

.selectday {
	background-color: #FFFF73;
	border-radius: 10px;
}
